<li class="list-group-item"
    data-project="{{ project.self.name }}"
    data-state="{{ dependency.state }}"
    data-name="{{ dependency.name }}"
    data-version="{{ dependency.version }}"
    data-project-type="{{ project.self.projectType is defined ? project.self.projectType }}"
    data-required="{{ dependency.required is defined ? 1 : 0 }}">

    <div class="row">
        <div class="col-5">
            {{ dependency.name }}
        </div>
        <div class="col-2 text-center">
            {% if dependency.required is defined %}
                {{ dependency.required }}
            {% endif %}
        </div>
        <div class="col-2 text-center">
            {{ dependency.version }}
        </div>
        <div class="col-2 text-center">
            {% if dependency.latest is defined %}
                {{ dependency.latest }}
            {% endif %}
        </div>
        <div class="col-1 text-center">
            {% if dependency.state == 3 %}
                <span class="label label-danger">out of date</span>
            {% elseif dependency.state == 2 %}
                <span class="label label-warning">out of date</span>
            {% else %}
                <span class="label label-success">up to date</span>
            {% endif %}
        </div>
    </div>
</li>