<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Depmon{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset("bundles/ximadepmon/img/favicon.ico") }}" />
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="text-center">
                    <img src="{{ asset("bundles/ximadepmon/img/logo.svg") }}" width="100"/>
                </div>
                <div>
                    <h1>DepMon
                        <small>Dependency Monitoring</small>
                    </h1>
                </div>
            </div>
            <div class="col-2">
                {{ include('filter.html.twig') }}
            </div>
            <div class="col-8">
                <div id="depmon-list">
                    <form id="depmon-search">
                        <input type="text" class="search text-search" name="name"
                               placeholder="Search dependencies ..."/>
                    </form>
                    <ul class="list list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-5 text-muted">
                                    Dependency
                                </div>
                                <div class="col-2 text-muted text-center">
                                    Required
                                </div>
                                <div class="col-2 text-muted text-center">
                                    Stable
                                </div>
                                <div class="col-2 text-muted text-center">
                                    Latest
                                </div>
                                <div class="col-1 text-muted text-center">
                                    State
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% for key, project in projects %}
                        <ul class="list list-group">
                            {{ include('project.html.twig') }}
                            {% for dependency in project.dependencies %}
                                {{ include('dependency.html.twig') }}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>