<li class="list-group-item">
    <div class="row">
        {%  if dependency.vulnerability is defined %}
            <a class="no-style" data-toggle="collapse" data-target="#{{ key }}-{{ num }}">
        {% endif %}
        <div class="col-5">
            <div class="dependency">
                {%  if dependency.vulnerability is defined %}
                    <i class="icon-warning"></i>
                    <span class="text-warning">
                        {{ dependency.name }}
                    </span>
                {% else %}
                    {% if dependency.link is defined %}
                        <a href="{{ dependency.link }}" class="no-style" target="_blank" title="{{ (dependency.description is defined) ? dependency.description}}">{{ dependency.name }}</a>
                    {% else %}
                        {{ dependency.name }}
                    {% endif %}
                {% endif %}
                <button class="filter-dependency" data-dependency="{{ dependency.name }}" title="{{ 'xima.depmon.list.quickfilter.dependency.tooltip'|trans({}, 'XimaDepmonBundle') }}">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
        <div class="col-2 text-center one-line">
            {% if dependency.required is defined %}
                {{ dependency.required }}
            {% endif %}
        </div>
        <div class="col-2 text-center one-line">
            {{ dependency.version }}
        </div>
        <div class="col-2 text-center one-line">
            {% if dependency.latest is defined %}
                {{ dependency.latest }}
            {% endif %}
        </div>
        <div class="col-1 text-right">
            <div class="state state-{{ dependency.state }}" title="{{ (dependency.state == 1) ? 'xima.depmon.list.state.1'|trans({}, 'XimaDepmonBundle') : ((dependency.state == 2) ? 'xima.depmon.list.state.2'|trans({}, 'XimaDepmonBundle') : ((dependency.state == 3) ? 'xima.depmon.list.state.3'|trans({}, 'XimaDepmonBundle') : 'xima.depmon.list.state.4'|trans({}, 'XimaDepmonBundle'))) }}"></div>
        </div>
        {%  if dependency.vulnerability is defined %}
        </a>
        <div id="{{ key }}-{{ num}}" class="collapse col-12">
            <ul>
            {% for vulnerability in dependency.vulnerability %}
                <li><a href="{{ vulnerability.link }}" class="no-style">{{ vulnerability.title }} <i class="icon-arrow_forward"></i></a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</li>