<li class="list-group-item"
    data-project="{{ project.self.name }}"
    data-state="{{ dependency.state }}"
    data-name="{{ dependency.name }}"
    data-version="{{ dependency.version }}"
    data-project-type="{{ project.self.projectType is defined ? project.self.projectType }}"
    data-required="{{ dependency.required is defined ? 1 : 0 }}"
    data-overview="0">

    <div class="row">
        <div class="col-5">
            <div class="dependency">{{ dependency.name }}
                <button class="filter-dependency" data-dependency="{{ dependency.name }}" data-tooltip="Quick search for this dependency" flow="down">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
        <div class="col-2 text-center">
            {% if dependency.required is defined %}
                {{ dependency.required }}
            {% endif %}
        </div>
        <div class="col-2 text-center">
            {{ dependency.version }}
        </div>
        <div class="col-2 text-center">
            {% if dependency.latest is defined %}
                {{ dependency.latest }}
            {% endif %}
        </div>
        <div class="col-1 text-center">
            <div class="state state-{{ dependency.state }}"></div>
        </div>
    </div>
</li>