<form class="filter" id="depmon-filter">
    <h3>{{ 'xima.depmon.filter.project'|trans({}, 'XimaDepmonBundle') }}</h3>
    <a href="#" class="filter-entry" data-toggle="collapse" data-target="#filter-project-collapse">
        <strong>{{ 'xima.depmon.filter.projects'|trans({}, 'XimaDepmonBundle') }} ({{ projects|length }})</strong>
    </a>
    <div id="filter-project-collapse" class="collapse">
        {% if projects is defined and projects[0].self is defined %}
            {% for project in projects %}
                <div class="checkbox">
                    <input type="checkbox" name="project" value="{{ project.self.name }}"
                           id="filter-project-{{ project.self.name }}">
                    <label for="filter-project-{{ project.self.name }}">{{ project.self.name }}</label>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <a href="#" class="filter-entry" data-toggle="collapse" data-target="#filter-type-collapse">
        <strong>{{ 'xima.depmon.filter.types'|trans({}, 'XimaDepmonBundle') }} (3)</strong>
        <small>beta</small>
    </a>
    <div id="filter-type-collapse" class="collapse">
        <div class="checkbox" data-tooltip="TYPO3">
            <input type="checkbox" name="project-type" value="TYPO3" id="filter-type-01">
            <label for="filter-type-01"> <i class="icon-typo3"></i></label>
        </div>
        <div class="checkbox" data-tooltip="Symfony">
            <input type="checkbox" name="project-type" value="Symfony" id="filter-type-02">
            <label for="filter-type-02"> <i class="icon-symfony"></i></label>
        </div>
        <div class="checkbox" data-tooltip="Drupal">
            <input type="checkbox" name="project-type" value="Drupal" id="filter-type-03">
            <label for="filter-type-03"> <i class="icon-drupal"></i></label>
        </div>
    </div>
    <div class="checkbox padding-small">
        <div data-tooltip="{{ 'xima.depmon.filter.overview.tooltip'|trans({}, 'XimaDepmonBundle') }}">
            <input type="checkbox" name="overview" value="1" id="filter-overview">
            <label for="filter-overview" class="dark">
                <small>{{ 'xima.depmon.filter.overview'|trans({}, 'XimaDepmonBundle') }}</small>
            </label>
        </div>
    </div>
    <h3>{{ 'xima.depmon.filter.dependency'|trans({}, 'XimaDepmonBundle') }}</h3>
    <input type="text" class="search text-search" name="name"
           placeholder="{{ 'xima.depmon.filter.search'|trans({}, 'XimaDepmonBundle') }}"/>
    <div class="checkbox padding-small">
        <div data-tooltip="{{ 'xima.depmon.filter.required.tooltip'|trans({}, 'XimaDepmonBundle') }}">
            <input type="checkbox" name="required" value="1" id="filter-required">
            <label for="filter-required" class="dark">
                <small>{{ 'xima.depmon.filter.required'|trans({}, 'XimaDepmonBundle') }}</small>
            </label>
        </div>
    </div>
    <a href="#" class="filter-entry" data-toggle="collapse" data-target="#filter-state-collapse">
        <strong>{{ 'xima.depmon.filter.states'|trans({}, 'XimaDepmonBundle') }}</strong>
    </a>
    <div id="filter-state-collapse" class="collapse">
        <div class="checkbox" data-tooltip="{{ 'xima.depmon.filter.state.3.tooltip'|trans({}, 'XimaDepmonBundle') }}">
            <input type="checkbox" name="state" value="3" id="filter-state-3">
            <label for="filter-state-3"> {{ 'xima.depmon.filter.state.3'|trans({}, 'XimaDepmonBundle') }}
                <span class="state state-3"></span>
            </label>
        </div>
        <div class="checkbox" data-tooltip="{{ 'xima.depmon.filter.state.2.tooltip'|trans({}, 'XimaDepmonBundle') }}">
            <input type="checkbox" name="state" value="2" id="filter-state-2">
            <label for="filter-state-2"> {{ 'xima.depmon.filter.state.2'|trans({}, 'XimaDepmonBundle') }}
                <span class="state state-2"></span>
            </label>
        </div>
        <div class="checkbox" data-tooltip="{{ 'xima.depmon.filter.state.1.tooltip'|trans({}, 'XimaDepmonBundle') }}">
            <input type="checkbox" name="state" value="1" id="filter-state-1">
            <label for="filter-state-1"> {{ 'xima.depmon.filter.state.1'|trans({}, 'XimaDepmonBundle') }}
                <span class="state state-1"></span>
            </label>
        </div>
    </div>
    <div class="padding-small text-center">
        <small>
            <a class="filter-reset no-style">
                <i class="icon-subdirectory_arrow_right"></i> {{ 'xima.depmon.filter.reset'|trans({}, 'XimaDepmonBundle') }}
            </a>
        </small>
    </div>
</form>
<small class="position-bottom padding-small text-muted width-100">
    <div class="padding-small text-center">
        <a class="filter-reset no-style">
            <i class="icon-subdirectory_arrow_right"></i> {{ 'xima.depmon.basic.update'|trans({}, 'XimaDepmonBundle') }}
        </a>
    </div>
    {% if projects is defined and projects[0].self is defined %}
        {{ 'xima.depmon.basic.statistic'|trans({}, 'XimaDepmonBundle') }}: <br/>
        {{ 'xima.depmon.basic.entities'|trans({'%projects%': projects|length, '%dependencies%': metadata.dependencyCount}, 'XimaDepmonBundle') }}
    {% endif %}
    <br/>
    <br/>
    {% if metadata.time is defined %}
        {{ 'xima.depmon.basic.updated'|trans({}, 'XimaDepmonBundle') }}: <br/>{{ metadata.time|date }}
    {% endif %}
</small>