<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'xima.depmon.basic.title'|trans({}, 'XimaDepmonBundle') }} – {{ 'xima.depmon.basic.subtitle'|trans({}, 'XimaDepmonBundle') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("bundles/ximadepmon/build/css/app.css") }}">
    {% endblock %}

    <link rel="icon" type="image/png" href="{{ asset("bundles/ximadepmon/img/favicon.png") }}" sizes="64x64">
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2 full-height">
                {{ include('@XimaDepmon/logo.html.twig') }}
                <div class="position-bottom padding-small width-100">
                    <div class="text-center">
                        <h1>{{ 'xima.depmon.basic.title'|trans({}, 'XimaDepmonBundle') }}</h1>
                        <div class="text-muted">{{ 'xima.depmon.basic.subtitle'|trans({}, 'XimaDepmonBundle') }}</div>
                        <a href="https://github.com/xima-media/depmon" class="no-style"><i class="icon-github"></i></a>
                        <small><a href="https://github.com/xima-media/depmon/blob/master/CHANGELOG.md" class="no-style">v0.3.0</a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-2 full-height bg-gray">
                {% include '@XimaDepmon/filter.html.twig' %}
            </div>
            <div class="col-8">
                <ul class="list list-group header">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-muted">
                                {{ 'xima.depmon.list.header.dependency'|trans({}, 'XimaDepmonBundle') }}
                            </div>
                            <div class="col-2 text-muted text-center">
                                {{ 'xima.depmon.list.header.required'|trans({}, 'XimaDepmonBundle') }}
                            </div>
                            <div class="col-2 text-muted text-center">
                                {{ 'xima.depmon.list.header.stable'|trans({}, 'XimaDepmonBundle') }}
                            </div>
                            <div class="col-2 text-muted text-center">
                                {{ 'xima.depmon.list.header.latest'|trans({}, 'XimaDepmonBundle') }}
                            </div>
                            <div class="col-1 text-muted text-center">
                                {{ 'xima.depmon.list.header.state'|trans({}, 'XimaDepmonBundle') }}
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="depmon-list">
                    {% include '@XimaDepmon/list.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("bundles/ximadepmon/build/manifest.js") }}"></script>
    <script src="{{ asset("bundles/ximadepmon/build/js/common.js") }}"></script>
    <script src="{{ asset("bundles/ximadepmon/build/js/app.js") }}"></script>
{% endblock %}
</body>
</html>