{% if projects is defined and projects|length > 0 %}
    {% for key, project in projects %}
        <ul class="list list-group">
            {{ include('@XimaDepmon/project.html.twig') }}
            {% for num, dependency in project.dependencies %}
                {{ include('@XimaDepmon/dependency.html.twig') }}
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <div class="list-error padding-small">
        <div class="list-error-emoji">
            {{ 'xima.depmon.basic.error'|trans({}, 'XimaDepmonBundle') }}
        </div>
        {{ 'xima.depmon.basic.error.projects'|trans({}, 'XimaDepmonBundle') }}<br/>
        {{ 'xima.depmon.basic.error.link'|trans({'%link%': '<a href="https://github.com/xima-media/depmon/wiki/Help#1--no-projects" target="_blank">Help#1</a>'}, 'XimaDepmonBundle')|raw }}
    </div>
{% endif %}