<li class="list-group-item-info list-group-item list-header bg-gray"
    data-project="{{ project.self.name }}"
    data-project-type="{{ project.self.projectType is defined ? project.self.projectType }}"
    data-overview="1"
>

    <div class="row">
        <div class="col-7">
            <a data-toggle="collapse" data-target="#{{ key }}">
                <strong>{{ project.self.name }}</strong>
                <small>{{ project.composer.name }}</small>
            </a>
            <button class="filter-project" data-project="{{ project.self.name }}"
                    data-tooltip="{{ 'xima.depmon.list.quickfilter.project.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                <i class="icon-filter"></i>
            </button>
        </div>
        <div class="col-1 text-center">
            {% if project.meta.gitTag is defined %}
                {{ project.meta.gitTag }}
            {% endif %}
        </div>
        <div class="col-1 text-center">
            {% if project.self.projectType is defined %}
                <a class="no-style filter-type" data-type="{{ project.self.projectType }}">
                    <i class="icon-{{ project.self.projectType|lower }}"></i>
                </a>
            {% endif %}
        </div>
        <div class="col-3 text-right">
            <a href="{{ path('xima_depmon_state', {'project': project.self.name}) }}">
                <img src="{{ asset("bundles/ximadepmon/img/states/#{project.meta.projectState}.svg") }}">
            </a>
        </div>
        <div id="{{ key }}" class="collapse col-12 bg-gray">
            <div class="row padding-small">
                <div class="col-6">
                    <strong>{{ project.dependencies|length }}</strong> {{ 'xima.depmon.list.dependencies.total'|trans({}, 'XimaDepmonBundle') }}
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="1"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-1"></div> {{ project.meta.statesCount.1 }} {{ 'xima.depmon.list.state.1'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="2"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-2"></div> {{ project.meta.statesCount.2 }} {{ 'xima.depmon.list.state.2'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="3"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-3"></div> {{ project.meta.statesCount.3 }} {{ 'xima.depmon.list.state.3'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-6">
                    <a class="filter-required-project no-style" data-project="{{ project.self.name }}" data-required="1"
                       data-tooltip="{{ 'xima.depmon.list.dependencies.required.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <strong>{{ project.meta.requiredPackagesCount }}</strong> {{ 'xima.depmon.list.dependencies.required'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="1" data-required="1"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-1"></div> {{ project.meta.requiredStatesCount.1 }} {{ 'xima.depmon.list.state.1'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="2" data-required="1"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-2"></div> {{ project.meta.requiredStatesCount.2 }} {{ 'xima.depmon.list.state.2'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-2">
                    <a class="filter-state-project no-style" data-project="{{ project.self.name }}" data-state="3" data-required="1"
                       data-tooltip="{{ 'xima.depmon.list.state.tooltip'|trans({}, 'XimaDepmonBundle') }}" flow="down">
                        <div class="state state-3"></div> {{ project.meta.requiredStatesCount.3 }} {{ 'xima.depmon.list.state.3'|trans({}, 'XimaDepmonBundle') }}
                    </a>
                </div>
                <div class="col-8 padding-small">
                    <i class="icon-text"></i>
                    {% if project.composer.description is defined and project.composer.description != '' %}
                        {{ project.composer.description }}
                    {% else %}
                        <em>{{ 'xima.depmon.list.description.empty'|trans({}, 'XimaDepmonBundle') }}</em>
                    {% endif %}
                </div>
                <div class="col-4 padding-small">
                    {% if project.composer.authors is defined %}
                        {% for author in project.composer.authors %}
                            {% if author.name is defined %}
                                <i class="icon-user"></i>
                                {% if author.email is defined %}
                                    <a href="mailto:{{ author.email }}">{{ author.name }}</a>
                                {% else %}
                                    {{ author.name }}
                                {% endif %}
                            {% endif %}
                            {% if author.role is defined %}
                                <small>{{ author.role }}</small>
                            {% endif %}
                            <br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</li>